* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#ECF1F5, #fff 30%);
  color: #212121;
}

body, input, textarea, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  transition: filter 0.3s;
}
button:hover {
  filter: brightness(0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1088px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
section#content article figure {
  border-top-left-radius: 25px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 250px;
}

section#content article .button button {
  height: 2.75rem;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 25px;
}

header .buttons-container button {
  width: 120px;
  height: 40px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px;
}

footer .head form .input-container button {
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top-left-radius: 7px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 18px;
}

section#content article .button__primary, footer .head form .input-container button, header .buttons-container button {
  color: #fff;
  background: #F18F44;
}

section#content article .button__secundary {
  color: #1772CF;
  background: rgba(23, 114, 207, 0.1);
  border: 1px solid #1772CF;
}

.select {
  height: 40px;
  width: 40px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #1772CF;
  cursor: pointer;
  background: #fff;
  border: 2px solid #1772CF;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
}
.select select {
  padding-left: 9px;
  -moz-padding-start: 5px;
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: inherit;
  line-height: inherit;
}
.select select::-ms-expand {
  display: none;
}

header {
  max-width: 1380px;
  padding: 0 2rem;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 180px;
  height: 45px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  font-size: 13px;
  font-weight: 700;
  color: #02184E;
  color: rgba(2, 24, 78, 0.65);
  text-transform: uppercase;
  padding: 0 0.95rem;
  transition: color 0.2s;
}
header ul li.active {
  color: #02184E;
}
header ul li:hover {
  color: #053eca;
}
header .buttons-container {
  flex: 0 1 232px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .buttons-container a {
  font-size: 13px;
  color: #1772CF;
  font-weight: 700;
  transition: filter 0.3s;
}
header .buttons-container a:hover {
  filter: brightness(0.8);
}
input, textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

footer .head form .input-container, footer .head form .input-container input {
  border-top-left-radius: 7px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 18px;
}

footer {
  padding: 0 2rem;
  background: #E7F1FA;
}
footer .wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px 0 40px;
}
footer .head {
  display: flex;
  justify-content: space-between;
}
footer .head form {
  flex: 0 1 365px;
}
footer .head form .input-container {
  height: 45px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}
footer .head form .input-container input {
  width: 100%;
  height: 100%;
  padding-left: 14px;
  background: transparent;
}
footer .head form .input-container input:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
footer .head form .input-container input::placeholder {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: rgba(2, 24, 78, 0.5);
}
footer .head form .input-container button {
  position: absolute;
  right: 10px;
}
footer .head form .input-container input {
  padding-right: 145px;
}
footer .head form .input-container button {
  width: 123px;
  height: 30px;
  font-size: 9px;
}
footer .columns {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 40px 0;
}
footer .footer-column h2 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #02184E;
}
footer .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  background: #B3CBE0;
  color: #fff;
}
footer .icon-container + button {
  margin-top: 10px;
}
footer ul {
  margin-top: 16px;
  list-style: none;
}
footer li {
  font-size: 14px;
  margin-top: 10px;
  color: #496E8E;
}
footer .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #B3CBE0;
  padding-top: 40px;
}
footer .foot p {
  font-size: 12px;
  font-weight: 700;
  color: #496E8E;
}
footer .foot p + p {
  font-weight: 400;
  margin-top: 8px;
}
footer .tier-logo {
  width: 36px;
  height: 36px;
}

main {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
}
main > h1 {
  font-size: 4.5rem;
  font-weight: 900;
  color: #7F92A5;
  text-align: center;
  margin: 150px auto;
}

section#content {
  max-width: 1180px;
  margin: 0 auto;
}
section#content article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
section#content article figure {
  flex: 0 1 550px;
  overflow: hidden;
}
section#content article figure img {
  width: 100%;
}
section#content article .infos {
  flex: 1 1 550px;
}
section#content article .infos h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #02184E;
}
section#content article .infos p {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: 400;
  margin: 40px 0;
}
section#content article .button {
  width: 336px;
  display: flex;
  justify-content: space-between;
}
section#content article .button button {
  width: 158px;
}
section#sponsors {
  max-width: 1205px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}
section#sponsors .square {
  flex: 0 1 7.5rem;
  height: 80px;
  border: 1px solid #EFF3F6;
  background-color: #FBFCFD;
}

section#infos {
  max-width: 1260px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 4.6875rem;
}
section#infos figure {
  flex: 0 1 23.125rem;
}
section#infos .img-container {
  max-width: 370px;
  max-height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
section#infos .img-container img {
  width: 100%;
}
section#infos .img-container.left {
  border-top-left-radius: 250px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
section#infos .img-container.center {
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
section#infos .img-container.right {
  border-top-left-radius: 75px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
section#infos figcaption {
  text-align: center;
  margin-top: 20px;
}
section#infos figcaption p {
  font-size: 14px;
  line-height: 24px;
}

section#action {
  max-width: 1050px;
  margin: 70px auto;
  height: 150px;
  border: 1px solid #707070;
  border-radius: 45px;
}

/*# sourceMappingURL=aboutus.css.map */
