@use '../utils/variables' as *;
@use '../utils/form' as f;

footer {
  padding: 0 2rem;
  background: $color-gray-200;

  .wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 50px 0 40px;
  }

  .head {
    display: flex;
    justify-content: space-between;

    form {
      flex: 0 1 365px;

      .input-container {
        height: 45px;
        
        @include f.input-container;
        
        input {
          padding-right: 145px; 
        }

        button {
          width: 123px;
          height: 30px;
          font-size: 9px;
        }
      }
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
    max-width: 750px;

    margin: 40px 0;
  }

  .footer-column {
    h2 {
      font-size: 16px;
      letter-spacing: 1px;
      color: $color-blue-700;
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 36px;
    width: 36px;
    border-radius: 12px;
    background: $color-gray-400;
  
    color: $color-white;

    & + button {
      margin-top: 10px;
    }
  }

  ul {
    margin-top: 16px;
    list-style: none;
  }

  li {
    font-size: 14px;    
    margin-top: 10px;
    color: $color-gray-500;
  }

  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid $color-gray-400;
    padding-top: 40px;

    p {
      font-size: 12px;
      font-weight: $font-bold;
      color: $color-gray-500;

      & + p {
        font-weight: $font-regular;
        margin-top: 8px;
      }
    }
  }
  .tier-logo {
    width: 36px;
    height: 36px;
  }
}