@use '../utils/_variables';

section#blog {
  // max-width: 1080px;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 175px;

  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    background-image: url('../img/backgorund.png');
  }
  
  .header {
    max-width: 535px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;

    h1 {
      font-size: 32px;
      line-height: 43px;
      font-weight: variables.$font-black;
      color: variables.$color-white;
    }

    p {
      font-size: 14px;
      line-height: 25px;
      color: variables.$color-white;
      margin-top: 20px;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;

    margin-top: 70px;
  }

  .card {
    width: 350px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;

    background: rgba($color: variables.$color-white-400, $alpha: 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid rgba($color: variables.$color-white, $alpha: 0.4);
    border-radius: 25px;

    h2 {
      font-size: 18px;
      line-height: 27px;
      font-weight: variables.$font-bold;
      color: variables.$color-white;
      margin-top: 24px;
    }
  }

  .img-container {
    position: relative;
    width: 320px;
    height: 230px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;

    span {
      display: block;
      position: absolute;
      bottom: -14px;
      left: 35px;

      width: 88px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 10px;
      font-weight: variables.$font-bold;
      color: variables.$color-white;
      letter-spacing: 2px;
      background: variables.$color-blue-500;
      border-radius: 25px;
      padding: 0 5px;
    }
  }

  button {
    height: 50px;
    padding: 0 31px;

    font-size: 15px;
    font-weight: variables.$font-bold;
    letter-spacing: 1.5px;

    border: 3px solid variables.$color-orange-500;
    border-radius: 25px;
    background: transparent;
    margin-top: 70px;
  }
} 