@use '../utils/_variables';

header {
  max-width: 1380px;
  margin: 30px auto 0;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 180px;
    height: 45px;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      font-size: 13px;
      font-weight: variables.$font-bold;
      color: variables.$color-blue-700;
      text-transform: uppercase;

      padding: 0 1.05rem;
    }
  }

  .buttons-container {
    flex: 0 1 232px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 13px;
      color: variables.$color-blue-500;
      font-weight: variables.$font-bold;
    }
  }

  button {
    font-size: 13px;
    font-weight: variables.$font-black;
    letter-spacing: 2px;

    height: 40px;
    padding: 0 28px;
  
    background: variables.$color-orange-500;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 16px;
  }

  .select {
    height: 40px;
    width: 40px;
    
    font-size: 13px;
    font-weight: variables.$font-bold;
    color: variables.$color-blue-500;
    background:  variables.$color-white;
    
    cursor: pointer;
    border: 2px solid variables.$color-blue-500;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 16px;
    
    select {
      padding-left: 9px;
      -moz-padding-start: 5px;
      width: 100%;
      height: 100%;
      
      appearance: none;
      border: none;
      outline: none;
      margin: 0;
      background-color: transparent;

      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      cursor: inherit;
      line-height: inherit;

      &::-ms-expand {
        display: none;
      }
    }
  }
}