@use '../utils/_variables';
@use '../utils/_helpers';

section#services {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  .infos {
    flex: 0 1 546px;

    h1 {
      font-size: 32px;
      line-height: 43px;
      font-weight: variables.$font-black;
      color: variables.$color-blue-700;

      span {
        color: variables.$color-orange-500;
      }
    }

    p {
      font-size: 14px;
      line-height: 30px;
      margin: 25px 0;
    }

    .types {
      display: flex;


      ul {
        list-style: none;

        & + ul {
          margin-left: 50px;
        }
      }
    
      li {
        margin-top: 15px;
    
        &::before {
          content: "\2022";
          color: variables.$color-orange-500;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
        }
      }
    }
  }

  .button {
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    button {
      height: 44px;    
      font-size: 14px;
      font-weight: variables.$font-black;
      @include helpers.letter-spacing(100);
    }
    &__primary {
      width: 128px;
      background: variables.$color-orange-500;
    }
    &__secundary {
      width: 122px;
      color: variables.$color-blue-500;
      background: rgba($color: variables.$color-blue-500, $alpha: 0.1);
      border: 1px solid variables.$color-blue-500;
    }
  }

  .img-container {
    flex: 0 1 610px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }
}