@use '../utils/variables' as *;
@use '../utils/helpers' as h;
@use '../utils/buttons';

@use '../global';

@use '../components/header';
@use '../components/footer';

main {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;

  & > h1 {
    font-size: 4.5rem;
    // line-height: 95px;
    font-weight: $font-black;
    color: $color-gray-600;
    text-align: center;

    margin: 150px auto;
  }
}

section#content {
  max-width: 1180px;
  margin: 0 auto;
  
  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    figure {
      flex: 0 1 550px;

      @extend %img-border-radius;

      overflow: hidden;

      img {
        width: 100%;
      }
    }
  
    .infos {
      flex: 1 1 550px;
  
      h2 {
        font-size: 1.75rem;
        font-weight: $font-bold;
        color: $color-blue-700;
      }
  
      p {
        @include h.paragraph;
        margin: 40px 0;
      }
    }
  
    .button {
      width: 336px;
      display: flex;
      justify-content: space-between;
  
      button {
        width: 158px;
        @extend %btn;
      }
      &__primary {
        @extend %btn-primary; 
      }
      &__secundary {
        @extend %btn-secondary;
      }
    }
  }
}

section#sponsors {
  max-width: 1205px;
  margin: 100px auto 0;

  display: flex;
  justify-content: space-between;

  .square {
    flex: 0 1 7.5rem;
    height: 80px;

    border: 1px solid $color-gray-100;
    background-color: $color-white-400;
  }
}

section#infos {
  max-width: 1260px;
  margin: 100px auto 0;

  display: flex;
  justify-content: space-between;
  gap: 4.6875rem;

  figure {
    flex: 0 1 23.125rem;
  }

  .img-container {
    max-width: 370px;
    max-height: 242px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    img {
      width: 100%;
    }
    
    &.left {
      border-top-left-radius: 250px;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &.center {
      border-top-left-radius: 75px;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &.right {
      border-top-left-radius: 75px;
      border-top-right-radius: 250px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  figcaption {
    text-align: center;
    margin-top: 20px;

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

section#action {
  max-width: 1050px;
  margin: 70px auto;

  height: 150px;
  border: 1px solid $color-gray-700;
  border-radius: 45px;
}