@use '../utils/variables' as *;
@use '../utils/helpers' as h;

@use '../global';

@use '../components/header';
@use '../components/footer';

section#title {
  padding: 0 2rem;
  margin: 60px auto 110px;

  figure {
    position: relative;
    max-width: 1340px;

    @extend %centered-container;
    margin: 0 auto;

    overflow-x: clip;
  
    img {
      width: 100%;
      border-radius: 25px;
    }
  
    figcaption {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      width: 92.5%;
      height: 7.5rem;

      display: flex;
      align-items: center;
      padding: 0 25px;
  
      background: $color-blue-100;
      border: 1px solid $color-blue-500;
      border-radius: 25px;
      
      z-index: 10;

      h1 {
        font-size: 1.875rem;
        font-weight: $font-bold;
        color: $color-blue-700;
      }

      span {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        left: 25px;
  
        width: 88px;
        height: 27px;
        @extend %centered-container;
  
        font-size: 10px;
        font-weight: $font-bold;
        color: $color-white;
        @include h.letter-spacing(100);
        background: $color-blue-500;
        border-radius: 30px;
      }
    }
  }
}

section#content {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto 175px;

  display: flex;
  justify-content: space-between;
  gap: 4.6875rem;
}

main {
  flex: 0 1 800px;

  h2 {
    font-size: 1.625rem;
    line-height: 2.125;
    font-weight: $font-bold;
    color: $color-blue-700;
    margin-bottom: 1.875rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 2;
    font-weight: $font-regular;
  }

  figure {
    max-width: 800px;
    margin: 1.875rem auto;
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 25px;
    }
  }

  ul {
    margin: 1.875rem auto;
    @include h.list-style;
  }
}

aside {
  flex: 0 1 315px;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  height: fit-content;

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 0.8125rem;
      font-weight: $font-bold;
      color: $color-blue-700;
    }
  }

  .icons {
    width: 174px;
    display: flex;
    justify-content: space-between;

    &__container {
      width: 2.25rem;
      height: 2.25rem;
      background: $color-orange-500;
      border-radius: 0.75rem;

      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.125rem;
        color: $color-white;
      }
    }
  }

  .articles {
    margin: 1.875rem auto;

    h2 {
      font-size: 0.8125rem;
      font-weight: $font-bold;
      color: $color-blue-700;
    }

    & > a > div {
      position: relative;
      padding: 17px 15px;

      background: $color-orange-100;
      border: 1px solid $color-orange-500;

      border-top-left-radius: 10px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 25px;

      // & + div {
        margin-top: 1.75rem;
      // }

      h3 {
        font-size: 1rem;
        line-height: 1.6875;
        font-weight: $font-bold;
        color: $color-blue-700;
      }

      &::before {
        content: 'CATEGORY';
        position: absolute;
        top: 0;
        transform: translateY(-50%);

        font-size: 9px;
        line-height: 11px;
        font-weight: $font-black;
        @include h.letter-spacing(100);
        color: $color-white;

        width: 82px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: $color-orange-500;
        border-top-left-radius: 6px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 15px;
      }
    }
  }

  .advertise {
    width: 315px;
    height: 250px;

    @extend %centered-container;

    background: $color-gray-200;
    border: 1px solid $color-gray-400;
  }
}