@use '../global';

@use '../utils/variables' as *;
@use '../utils/helpers' as h;
@use 'sass:color';


@use '../components/header';
@use '../components/footer';

main {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;

  & > h1 {
    font-size: 4.5rem;
    // line-height: 95px;
    font-weight: $font-black;
    color: $color-gray-600;
    text-align: center;

    margin: 150px auto 100px;
  }
}

section#blog {
  max-width: 1170px;
  margin: 0 auto;

  .grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 3.75rem;
    justify-items: center;

    @media(max-width: 1088px) {
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
  }
  article {
    width: 21.875rem;
    height: 21.875rem;

    padding: 0.9375rem;

    background: rgba($color: $color-blue-500, $alpha: 0.05);
    border: 1px solid $color-blue-500;
    border-radius: 25px;
  }

  figcaption {
    margin-top: 1.5rem;
    
    p {
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: $font-bold;
      color: $color-blue-700;
    }
  }

  .img-container {
    position: relative;
    max-width: 20rem;
    max-height: 14.375rem;

    @extend %centered-container;

    border-radius: 25px;
    box-shadow: 0 0 35px rgba($color: #000, $alpha: .07);

    img {
      width: 100%;
      border-radius: 25px;
    }

    span {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      left: 35px;

      width: 88px;
      height: 27px;
      @extend %centered-container;

      font-size: 10px;
      font-weight: $font-bold;
      color: $color-white;
      @include h.letter-spacing(100);
      background: $color-blue-500;
      border-radius: 30px;
    }
  }

  .pagination {
    margin: 55px auto;
    display: flex;
    justify-content: center;
    gap: 10px;


    & > button {
      width: 36px;
      height: 36px;

      font-size: 17px;
      font-weight: $font-black;
      color: $color-white;

      background: $color-blue-500;
      border-radius: 12px;

      transition: background 0.3s;

      &:hover {
        filter: none;
      }

      &:not(.active) {
        background: color.adjust($color-blue-500, $alpha: -0.5);

        &:hover {
          background: color.scale(darken($color-blue-500,  5%));
        }
      }
    }
  }
}