@use '../utils/variables' as *;
@use '../utils/helpers' as h;
@use '../utils/price' as p;
@use '../utils/buttons';

@use '../global';

@use '../components/header';
@use '../components/footer';

main {
  max-width: 1440px;
  padding: 0 2rem ;
  margin: 0 auto;
}

.pricing-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;

  .price {
    @include p.price;
  }

  button {
    width: 158px;
    @extend %btn;
    @extend %btn-primary;
  }
}

section#title {
  max-width: 685px;
  margin: 151px auto 0;
  text-align: center;

  h1 {
    font-size: 3.75rem;
    font-weight: $font-black;
    color: $color-blue-700;
    span {
      color: $color-orange-500;
    }
  }

  p {
    @include h.paragraph;
    margin-top: 25px;
  }

  .title__price {
    @extend %centered-container;
    margin-top: 33px;
    
    .pricing-container {
      @include p.price-title;
    }
  }
}

section#features {
  max-width: 1294px;
  margin: 127px auto 0;

  display: flex;
  align-items: center;
  gap: 6.25rem;

  .info {
    flex: 0 1 27.3125rem;

    h1 {
      font-size: 2.4375rem;
      line-height: 1.33;
      font-weight: $font-black;
      color: $color-blue-700;

      span {
        color: $color-orange-500;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5625;

      margin: 1.5625rem 0;
    }
  }

  .carousel {
    flex: 1;
    height: 680px;

    background: $color-gray-200;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      @include h.white-gradient;
      transform: rotateZ(180deg);
    }

    input {
      display: none;
    }
  }

  .labels {
    width: 145px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -25px;

    label {
      color: $color-white;
      cursor: pointer;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      height: 60px;
      width: 60px;
      background: $color-white;

      border: 1px solid $color-gray-400;
      
      border-top-left-radius: 10px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 25px;

      transition: filter 0.3s;
  
      &:hover {
        filter: brightness(0.9);
      }

      i {
        font-size: 26px;
        color: $color-blue-500;
      }
    }
  }

  .slider {
    position: relative;
    height: 413px;
    margin-left: -50px;

    overflow: hidden;
  }

  $num-of-slide: 2;
  .slide__items {
    position: absolute;
    display: flex;
    justify-content: space-between;

    width: 35.625rem * $num-of-slide;
    transition: left 0.5s;

    article {
      width: 34.125rem;
      height: 25.8125rem;
      padding: 4.5rem 2.1875rem 3.625rem 3.8125rem;
  
      background: $color-white;
  
      border: 1px solid $color-gray-400;
      border-top-left-radius: 25px;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 75px;
  
      .title {
        position: relative;
        display: flex;
        align-items: center;
  
        &__img {
          width: 58px;
          height: 58px;
          border: 1px solid $color-white-500;
          border-radius: 50%;
          
          display: flex;
          align-items: center;
          justify-content: center;
  
          img {
            width: 31px;
            height: 31px;
          }
        }
  
        h2 {
          font-size: 1.75rem;
          font-weight: $font-bold;
          color: $color-blue-500;
          margin-left: 10.5px;
          z-index: 5;
        }
      }
  
      p {
        @include h.paragraph;
        margin: 30px 0;
      }
  
      button {
        width: 162px;
  
        @extend %btn;
        @extend %btn-primary-white;
      }
  
      .img__circles {
        position: absolute;
        left: -27px;
    
        width: 111px;
        height: 111px;
    
        & > div {
          position: absolute;
          inset: 0;
          margin: auto;
        }
    
        .circle__1 {
          border: 1px solid rgba($color: $color-white-500, $alpha: 0.25);
          border-radius: 50%;
        }
        .circle__2 {
          width: 93px;
          height: 93px;
          border: 1px solid rgba($color: $color-white-500, $alpha: 0.5);
          border-radius: 50%;
        }
        .circle__3 {
          width: 76px;
          height: 76px;
          border: 1px solid rgba($color: $color-white-500, $alpha: 0.75);
          border-radius: 50%;
        }
      }
    }
  }
  @for $i from 1 through $num-of-slide {
    #slide#{$i}:checked {
      & ~ .slider .slide__items {
        left: (1 - $i) * 36.9375rem;
      }
    }
  }
  // @for $i from 1 through ($num-of-slide - 1) {
  //   #slide#{$i}:checked {
  //     & ~ .labels label:nth-child(#{$i + 1}) {
  //       display: flex;
  //       transform: rotateZ(180deg);
  //     }
  //   }
  // }
  // #slide#{$num-of-slide}:checked ~ .labels label:nth-child(1) {
  //   display: flex;
  //   transform: rotateZ(180deg);
  //   order: 2;
  // }
  // @for $i from 2 through $num-of-slide {
  //   #slide#{$i}:checked {
  //     & ~ .labels label:nth-child(#{$i - 1}) {
  //       display: flex;
  //     }
  //   }
  // }
  // #slide#{1}:checked ~ .labels label:nth-child(#{$num-of-slide}) {
  //   display: flex;
  //   order: -1;
  // }
}

section#subscription {
  max-width: 1180px;
  margin: 100px auto 0;

  article {
    display: flex;
    align-items: center;
    gap: 5rem;

    figure {
      flex: 0 1 550px;

      @extend %img-border-radius;

      overflow: hidden;
      
      img {
        width: 100%;
      }
    }

    ul {
      @include h.list-style;
      margin-left: 1.875rem;
      margin-bottom: 1.5625rem;
    }

    .infos {
      flex: 1 1 550px;
  
      & > h2 {
        font-size: 1.75rem;
        font-weight: $font-bold;
        color: $color-blue-700;
      }
  
      p {
        @include h.paragraph;
        margin: 1.5625rem 0;
      }
    }
  }
}

section#action {
  max-width: 1050px;
  margin: 70px auto;

  height: 150px;
  border: 1px solid $color-gray-700;
  border-radius: 45px;
}

// .price {
//   width: 262px;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-left: 21px;

//   h2 {
//     font-size: 68px;
//     font-weight: $font-black;
//     color: $color-blue-500;

//     &::before {
//       content: '$';
//       font-size: 35px;
//       position: absolute;
//       top: 13px;
//       left: -21px;
//     }
//   }
//   span {
//     font-size: 9px;
//     font-weight: $font-bold;
//     color: $color-blue-700;
//     @include h.letter-spacing(117);
//     position: absolute;
//     top: 0;
//     left: -19px;
//   }
// }