@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#ECF1F5, #fff 30%);
  color: #212121;
}

body, input, textarea, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  transition: filter 0.3s;
}
button:hover {
  filter: brightness(0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1088px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
section#blog .card figure, section#blog .card figure span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  height: 40px;
  width: 40px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #1772CF;
  cursor: pointer;
  background: #fff;
  border: 2px solid #1772CF;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
}
.select select {
  padding-left: 9px;
  -moz-padding-start: 5px;
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: inherit;
  line-height: inherit;
}
.select select::-ms-expand {
  display: none;
}

section#services .button button, section#aboutUs .infos button {
  height: 2.75rem;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 25px;
}

header .buttons-container button {
  width: 120px;
  height: 40px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px;
}

section#hero .input-container button, footer .head form .input-container button {
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top-left-radius: 7px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 18px;
}

section#services .button__primary, section#hero .input-container button, footer .head form .input-container button, header .buttons-container button {
  color: #fff;
  background: #F18F44;
}

section#services .button__secundary {
  color: #1772CF;
  background: rgba(23, 114, 207, 0.1);
  border: 1px solid #1772CF;
}

section#blog button {
  font-weight: 700;
  color: #fff;
  border: 3px solid #F18F44;
  border-radius: 2.375rem;
  background: transparent;
}

header {
  max-width: 1380px;
  padding: 0 2rem;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 180px;
  height: 45px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  font-size: 13px;
  font-weight: 700;
  color: #02184E;
  color: rgba(2, 24, 78, 0.65);
  text-transform: uppercase;
  padding: 0 0.95rem;
  transition: color 0.2s;
}
header ul li.active {
  color: #02184E;
}
header ul li:hover {
  color: #053eca;
}
header .buttons-container {
  flex: 0 1 232px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .buttons-container a {
  font-size: 13px;
  color: #1772CF;
  font-weight: 700;
  transition: filter 0.3s;
}
header .buttons-container a:hover {
  filter: brightness(0.8);
}
input, textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

footer .head form .input-container, footer .head form .input-container input, section#hero .input-container, section#hero .input-container input {
  border-top-left-radius: 7px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 18px;
}

section#hero {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 3.75rem;
}
section#hero .infos {
  flex: 1 0 588px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#hero .infos h1 {
  font-size: 1.5625rem;
  line-height: 40px;
  font-weight: 900;
  color: #0D2256;
}
section#hero .infos h1 span {
  position: relative;
  display: inline-block;
}
section#hero .infos h1 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 10px;
  background: rgba(241, 143, 68, 0.25);
  border-radius: 6px;
  z-index: -1;
}
section#hero .infos p {
  font-size: 0.875rem;
  line-height: 1.79;
  margin: 1.875rem 0;
}
section#hero .input-container {
  max-width: 450px;
  height: 60px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}
section#hero .input-container input {
  width: 100%;
  height: 100%;
  padding-left: 14px;
  background: transparent;
}
section#hero .input-container input:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
section#hero .input-container input::placeholder {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: rgba(2, 24, 78, 0.5);
}
section#hero .input-container button {
  position: absolute;
  right: 10px;
}
section#hero .input-container input {
  padding-right: 175px;
}
section#hero .input-container button {
  width: 152px;
  height: 40px;
  font-size: 11px;
}
section#hero .img-container {
  flex: 0 1 650px;
}
section#hero .img-container img {
  width: 100%;
}
@media (max-width: 1088px) {
  section#hero .infos {
    flex-shrink: 1;
  }
}

section#aboutUs {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}
section#aboutUs .header {
  max-width: 535px;
  text-align: center;
  margin: 0 auto;
}
section#aboutUs .header h1 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 900;
  color: #02184E;
}
section#aboutUs .header h1 span {
  color: #F18F44;
}
section#aboutUs .header p {
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}
section#aboutUs .content {
  position: relative;
}
section#aboutUs .carousel {
  position: relative;
  height: 34rem;
  margin-top: 4.25rem;
}
section#aboutUs .carousel article {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  opacity: 0;
  transition: opacity 1s ease 0s;
}
section#aboutUs .carousel article figure {
  flex: 0 1 550px;
  border-top-left-radius: 25px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 250px;
  overflow: hidden;
}
section#aboutUs .carousel article figure img {
  width: 100%;
}
section#aboutUs .carousel input {
  display: none;
}
section#aboutUs .infos {
  flex: 1 1 575px;
}
section#aboutUs .infos .title {
  position: relative;
  display: flex;
  align-items: center;
}
section#aboutUs .infos .title__img {
  width: 3.625rem;
  height: 3.625rem;
  border: 1px solid #ECF1F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#aboutUs .infos .title__img img {
  width: 1.9375rem;
  height: 1.9375rem;
}
section#aboutUs .infos .title h2 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1772CF;
  margin-left: 0.65625rem;
  z-index: 5;
}
section#aboutUs .infos p {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: 400;
  margin: 30px 0;
}
section#aboutUs .infos button {
  width: 162px;
  color: #F18F44;
  background: #fff;
  border: 1px solid #F18F44;
}
section#aboutUs .img__circles {
  position: absolute;
  left: -1.6875rem;
  width: 6.9375rem;
  height: 6.9375rem;
}
section#aboutUs .img__circles > div {
  position: absolute;
  inset: 0;
  margin: auto;
}
section#aboutUs .img__circles .circle__1 {
  border: 1px solid rgba(236, 241, 245, 0.25);
  border-radius: 50%;
}
section#aboutUs .img__circles .circle__2 {
  width: 5.8125rem;
  height: 5.8125rem;
  border: 1px solid rgba(236, 241, 245, 0.5);
  border-radius: 50%;
}
section#aboutUs .img__circles .circle__3 {
  width: 4.75rem;
  height: 4.75rem;
  border: 1px solid rgba(236, 241, 245, 0.75);
  border-radius: 50%;
}
section#aboutUs .circles {
  position: absolute;
  bottom: -98px;
  bottom: -6rem;
  left: -134px;
  left: -7rem;
  width: 20rem;
  height: 20rem;
  z-index: 10;
}
section#aboutUs .circles > div {
  position: absolute;
  inset: 0;
  margin: auto;
}
section#aboutUs .circles .circle__1 {
  border: 1px solid rgba(236, 241, 245, 0.2);
  border-radius: 50%;
}
section#aboutUs .circles .circle__2 {
  width: 17.5rem;
  height: 17.5rem;
  border: 1px solid rgba(236, 241, 245, 0.4);
  border-radius: 50%;
}
section#aboutUs .circles .circle__3 {
  width: 15rem;
  height: 15rem;
  border: 2px solid rgba(236, 241, 245, 0.6);
  border-radius: 50%;
}
section#aboutUs .circles .circle__4 {
  width: 12.5rem;
  height: 12.5rem;
  border: 2px solid rgba(236, 241, 245, 0.8);
  border-radius: 50%;
}
section#aboutUs .circles .circle__5 {
  width: 10rem;
  height: 10rem;
  border: 2px solid #ECF1F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#aboutUs .labels {
  position: relative;
  width: 7.75rem;
  height: 2.125rem;
  transform: rotate(-122deg);
}
section#aboutUs .labels label {
  position: absolute;
  display: none;
  cursor: pointer;
}
section#aboutUs .labels label i {
  font-size: 2.375rem;
  color: #02184E;
}
section#aboutUs .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(348deg);
  height: 36px;
  border-left: 1px solid #02184E;
}
section#aboutUs #aboutUsSlide1:checked ~ .carousel__items article:nth-child(1) {
  opacity: 1;
  transition-delay: 0.4s;
}
section#aboutUs #aboutUsSlide2:checked ~ .carousel__items article:nth-child(2) {
  opacity: 1;
  transition-delay: 0.4s;
}
section#aboutUs #aboutUsSlide3:checked ~ .carousel__items article:nth-child(3) {
  opacity: 1;
  transition-delay: 0.4s;
}
section#aboutUs #aboutUsSlide1:checked ~ .circles .circle__5 .labels label:nth-of-type(2) {
  display: block;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
}
section#aboutUs #aboutUsSlide2:checked ~ .circles .circle__5 .labels label:nth-of-type(3) {
  display: block;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
}
section#aboutUs #aboutUsSlide3:checked ~ .circles .circle__5 .labels label:nth-of-type(1) {
  display: block;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
}
section#aboutUs #aboutUsSlide2:checked ~ .circles .circle__5 .labels label:nth-of-type(1) {
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
section#aboutUs #aboutUsSlide3:checked ~ .circles .circle__5 .labels label:nth-of-type(2) {
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
section#aboutUs #aboutUsSlide1:checked ~ .circles .circle__5 .labels label:nth-of-type(3) {
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

section#services {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#services .infos {
  flex: 0 1 546px;
}
section#services .infos h1 {
  font-size: 2rem;
  line-height: 1.34;
  font-weight: 900;
  color: #02184E;
}
section#services .infos h1 span {
  color: #F18F44;
}
section#services .infos p {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: 400;
  margin: 25px 0;
}
section#services .infos .types {
  display: flex;
}
section#services .infos .types ul {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.875;
}
section#services .infos .types ul li::before {
  content: "•";
  color: #F18F44;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
section#services .infos .types ul + ul {
  margin-left: 50px;
}
section#services .button {
  width: 270px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
section#services .button__primary {
  width: 128px;
}
section#services .button__secundary {
  width: 122px;
}
section#services figure {
  flex: 0 1 610px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
section#services figure img {
  width: 100%;
}

section#features {
  max-width: 1239px;
  margin: 145px auto 0;
}
section#features .carousel-container {
  display: flex;
  align-items: center;
}
section#features .info {
  flex: 0 1 24.375rem;
}
section#features .info h1 {
  font-size: 2rem;
  line-height: 2.6875rem;
  font-weight: 900;
  color: #02184E;
}
section#features .info h1 span {
  color: #F18F44;
}
section#features .info p {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: 400;
  margin-top: 20px;
}
section#features .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 78px;
  margin: 0 1.875rem;
}
section#features label {
  color: #fff;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  background: #1772CF;
  border-radius: 9px;
  transition: filter 0.2s;
}
section#features label:hover {
  filter: brightness(0.9);
}
section#features label i {
  font-size: 18px;
}
section#features .carousel {
  flex: 1;
  display: flex;
  align-items: center;
}
section#features .carousel input {
  display: none;
}
section#features .slider {
  position: relative;
  width: 100%;
  height: 248px;
  overflow: hidden;
}
section#features .slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 248px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  transform: rotateZ(180deg);
}
section#features .slide__items {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1230px;
  transition: left 0.5s;
}
section#features article {
  flex: 0 1 390px;
  width: 33.3333333333%;
  padding: 38px 20px;
  background: rgba(236, 241, 245, 0.21);
  border: 1px solid #ECF1F5;
}
section#features article .article__head {
  display: flex;
  align-items: center;
}
section#features article .article__head img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
section#features article .article__head h2 {
  font-size: 19px;
  line-height: 1.75;
  font-weight: 900;
  color: #02184E;
}
section#features article .article__head p {
  font-size: 12px;
  font-weight: 500;
}
section#features article p.content {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: 400;
  margin-top: 20px;
}
section#features #slide1:checked ~ .slider .slide__items {
  left: 0px;
}
section#features #slide2:checked ~ .slider .slide__items {
  left: -420px;
}
section#features #slide3:checked ~ .slider .slide__items {
  left: -840px;
}
section#features #slide1:checked ~ .labels label:nth-child(2) {
  display: flex;
  transform: rotateZ(180deg);
}
section#features #slide2:checked ~ .labels label:nth-child(3) {
  display: flex;
  transform: rotateZ(180deg);
}
section#features #slide3:checked ~ .labels label:nth-child(1) {
  display: flex;
  transform: rotateZ(180deg);
  order: 2;
}
section#features #slide2:checked ~ .labels label:nth-child(1) {
  display: flex;
}
section#features #slide3:checked ~ .labels label:nth-child(2) {
  display: flex;
}
section#features #slide1:checked ~ .labels label:nth-child(3) {
  display: flex;
  order: -1;
}
section#features .sponsors {
  max-width: 1239px;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #EFF3F6;
}
section#features .square {
  width: 120px;
  height: 80px;
  border: 1px solid #EFF3F6;
  background-color: #FBFCFD;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-125px * (20 / 2)));
  }
}
section#features .loop__slider {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}
section#features .loop__slider::before, section#features .loop__slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 60px;
  z-index: 5;
}
section#features .loop__slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
section#features .loop__slider::before {
  left: 0;
  top: 0;
}
section#features .loop__slider .loop__track {
  animation: scroll 15s linear infinite;
  display: flex;
  justify-content: space-between;
  width: calc(125px * 20);
}

section#blog {
  margin-top: 175px;
}
section#blog .background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 850px;
  padding: 0 2rem;
  background-image: url("../img/backgorund.png");
}
section#blog .header {
  max-width: 535px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
section#blog .header h1 {
  font-size: 2rem;
  line-height: 43px;
  font-weight: 900;
  color: #fff;
}
section#blog .header p {
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  margin-top: 20px;
}
section#blog .content {
  display: flex;
  justify-content: space-between;
  gap: 3.75rem;
  max-width: 1170px;
  width: 100%;
  margin-top: 70px;
}
section#blog .card {
  flex: 0 1 350px;
  padding: 15px;
  background: rgba(251, 252, 253, 0.1);
  backdrop-filter: blur(8px) brightness(105%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
}
section#blog .card h2 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 700;
  color: #fff;
  margin-top: 24px;
}
section#blog .card figure {
  position: relative;
  max-width: 320px;
  max-height: 230px;
  border-radius: 25px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
}
section#blog .card figure img {
  width: 100%;
  border-radius: 25px;
}
section#blog .card figure span {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 35px;
  width: 88px;
  height: 27px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1em;
  background: #1772CF;
  border-radius: 30px;
}
section#blog button {
  width: 200px;
  height: 50px;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-top: 70px;
}

footer {
  padding: 0 2rem;
  background: #E7F1FA;
}
footer .wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px 0 40px;
}
footer .head {
  display: flex;
  justify-content: space-between;
}
footer .head form {
  flex: 0 1 365px;
}
footer .head form .input-container {
  height: 45px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}
footer .head form .input-container input {
  width: 100%;
  height: 100%;
  padding-left: 14px;
  background: transparent;
}
footer .head form .input-container input:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
footer .head form .input-container input::placeholder {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: rgba(2, 24, 78, 0.5);
}
footer .head form .input-container button {
  position: absolute;
  right: 10px;
}
footer .head form .input-container input {
  padding-right: 145px;
}
footer .head form .input-container button {
  width: 123px;
  height: 30px;
  font-size: 9px;
}
footer .columns {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 40px 0;
}
footer .footer-column h2 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #02184E;
}
footer .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  background: #B3CBE0;
  color: #fff;
}
footer .icon-container + button {
  margin-top: 10px;
}
footer ul {
  margin-top: 16px;
  list-style: none;
}
footer li {
  font-size: 14px;
  margin-top: 10px;
  color: #496E8E;
}
footer .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #B3CBE0;
  padding-top: 40px;
}
footer .foot p {
  font-size: 12px;
  font-weight: 700;
  color: #496E8E;
}
footer .foot p + p {
  font-weight: 400;
  margin-top: 8px;
}
footer .tier-logo {
  width: 36px;
  height: 36px;
}

main {
  max-width: 1440px;
  margin: 75px auto 0;
}

section:not(#blog) {
  padding: 0 2rem;
}

/*# sourceMappingURL=home.css.map */
