@use 'variables' as *;
@use 'sass:math';

@mixin letter-spacing($letter-spacing) {
  letter-spacing: math.div($letter-spacing, 1000) * 1em;
}
@mixin line-height($line-height, $font-size) {
  line-height: $line-height / $font-size;
}

%centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

%img-border-radius {
  border-top-left-radius: 25px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 250px;
}

@mixin list-style {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.875;
  
  li {
  
    &::before {
      content: "\2022";
      color: $color-orange-500;
      font-weight: bold;
      display: inline-block; 
      width: 1em;
    }
  }
}

@mixin paragraph {
  font-size: 0.875rem;
  line-height: 1.875;
  font-weight: $font-regular;
}

@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

