@use 'variables' as *;
@use 'helpers' as h;

@mixin price-title {
  position: relative;
  width: 10.6rem;
  height: 100px;

  h2 {
    font-size: 5.3125rem;
    font-weight: $font-black;
    color: $color-orange-500;

    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);

    &::before {
      content: '$';
      font-size: 2.1875rem;
      position: absolute;
      top: 15px;
      left: -21px;
    }
    
    &::after {
      content: '/ Agency';
      font-size: 0.75rem;
    }
  }

  span {
    font-size: 0.6875rem;
    font-weight: $font-bold;
    color: $color-gray-800;
    @include h.letter-spacing(61);

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
    &:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@mixin price {
  position: relative;

  h2 {
    font-size: 4.25rem;
    font-weight: $font-black;
    color: $color-blue-500;

    &::before {
      content: '$';
      font-size: 2.1875rem;
      position: absolute;
      top: 13px;
      left: -21px;
    }
  }

  span {
    font-size: 0.5625rem;
    font-weight: $font-bold;
    color: $color-blue-700;
    @include h.letter-spacing(117);
    position: absolute;
    top: 0;
    left: -19px;
  }
}