$color-white: #FFFFFF;
$color-white-400: #FBFCFD;
$color-white-500: #ECF1F5;
$color-black-500: #212121;

$color-gray-100: #EFF3F6;
$color-gray-200: #E7F1FA;
$color-gray-400: #B3CBE0;
$color-gray-500: #496E8E;
$color-gray-600: #7F92A5;
$color-gray-700: #707070;
$color-gray-800: #4B6076;

$color-blue-500: #1772CF;
$color-blue-600: #0D2256;
$color-blue-700: #02184E;
$color-orange-500: #F18F44;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;