@use '../../utils/variables' as *;
@use '../../utils/helpers' as h;
@use '../../utils/buttons';

section#aboutUs {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  
  .header {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 32px;
      line-height: 43px;
      font-weight: $font-black;
      color: $color-blue-700;

      span {
        color: $color-orange-500;
      }
    }

    p {
      font-size: 14px;
      line-height: 25px;

      margin-top: 20px;
    }
  }

  .content {
    position: relative;
  }

  .carousel {
    position: relative;
    height: 34rem;

    margin-top: 4.25rem;

    article {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3.75rem;

      opacity: 0;

      transition: opacity 1s ease 0s;

      figure {
        flex: 0 1 550px;

        border-top-left-radius: 25px;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 250px;

        overflow: hidden;

        img {
          width: 100%;
        }
      }

    }

    input {
      display: none;
    }
  }

  .infos {
    flex: 1 1 575px;

    .title {
      position: relative;
      display: flex;
      align-items: center;

      &__img {
        width: 3.625rem;
        height: 3.625rem;
        border: 1px solid $color-white-500;
        border-radius: 50%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1.9375rem;
          height: 1.9375rem;
        }
      }

      h2 {
        font-size: 1.125rem;
        font-weight: $font-bold;
        color: $color-blue-500;
        margin-left: 0.65625rem;
        z-index: 5;
      }
    }

    p {
      @include h.paragraph();
      margin: 30px 0;
    }

    button {
      width: 162px;

      @extend %btn;

      color: $color-orange-500;
      background: $color-white;
      border: 1px solid $color-orange-500;
    }
  }

  .img__circles {
    position: absolute;
    left: -1.6875rem;

    width: 6.9375rem;
    height: 6.9375rem;

    & > div {
      position: absolute;
      inset: 0;
      margin: auto;
    }

    .circle__1 {
      border: 1px solid rgba($color: $color-white-500, $alpha: 0.25);
      border-radius: 50%;
    }
    .circle__2 {
      width: 5.8125rem;
      height: 5.8125rem;
      border: 1px solid rgba($color: $color-white-500, $alpha: 0.5);
      border-radius: 50%;
    }
    .circle__3 {
      width: 4.75rem;
      height: 4.75rem;
      border: 1px solid rgba($color: $color-white-500, $alpha: 0.75);
      border-radius: 50%;
    }
  }

  .circles {
    position: absolute;
    bottom: -98px;
    bottom: -6rem;
    left: -134px;
    left: -7rem;

    width: 20rem;
    height: 20rem;

    z-index: 10;

    & > div {
      position: absolute;
      inset: 0;
      margin: auto;
    }

    .circle__1 {
      border: 1px solid rgba($color: $color-white-500, $alpha: 0.2);
      border-radius: 50%;
    }
    .circle__2 {
      width: 17.5rem;
      height: 17.5rem;
      border: 1px solid rgba($color: $color-white-500, $alpha: 0.4);
      border-radius: 50%;
    }
    .circle__3 {
      width: 15rem;
      height: 15rem;
      border: 2px solid rgba($color: $color-white-500, $alpha: 0.6);
      border-radius: 50%;
    }
    .circle__4 {
      width: 12.5rem;
      height: 12.5rem;
      border: 2px solid rgba($color: $color-white-500, $alpha: 0.8);
      border-radius: 50%;
    }
    .circle__5 {
      width: 10rem;
      height: 10rem;
      border: 2px solid $color-white-500;
      border-radius: 50%;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .labels {
    position: relative;
    width: 7.75rem;
    height: 2.125rem;
    transform: rotate(-122deg);

    label {
      position: absolute;
      display: none;
      cursor: pointer;

      i {
        font-size: 2.375rem;
        color: $color-blue-700;
      }
    }
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(348deg);

    height: 36px;
    border-left: 1px solid $color-blue-700;
  }

  $num-of-slide: 3;
  @for $i from 1 through $num-of-slide {
    #aboutUsSlide#{$i}:checked {
      & ~ .carousel__items article:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: 0.4s;
      }
    }
  }

  @for $i from 1 through ($num-of-slide - 1) {
    #aboutUsSlide#{$i}:checked {
      & ~ .circles .circle__5 .labels label:nth-of-type(#{$i + 1}) {
        display: block;
        top: 50%;
        transform: translateY(-50%) rotateZ(180deg);;
      }
    }
  }
  #aboutUsSlide#{$num-of-slide}:checked ~ .circles .circle__5 .labels label:nth-of-type(1) {
    display: block;
    top: 50%;
    transform: translateY(-50%) rotateZ(180deg);;
  }
  @for $i from 2 through $num-of-slide {
    #aboutUsSlide#{$i}:checked {
      & ~ .circles .circle__5 .labels label:nth-of-type(#{$i - 1}) {
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  #aboutUsSlide#{1}:checked ~ .circles .circle__5 .labels label:nth-of-type(#{$num-of-slide}) {
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}