@use '../../utils/variables' as *;
@use '../../utils/helpers' as h;
@use 'sass:math';

section#features {
  max-width: 1239px;
  margin: 145px auto 0;

  .carousel-container {
    display: flex;
    align-items: center;
  }

  .info {
    flex: 0 1 24.375rem;

    h1 {
      font-size: 2rem;
      line-height: 2.6875rem;
      font-weight: $font-black;
      color: $color-blue-700;

      span {
        color: $color-orange-500;
      }
    }

    p {
      @include h.paragraph;
      margin-top: 20px;
    }
  }

  .labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78px;
    margin: 0 1.875rem;
  }

  label {
    color: $color-white;
    cursor: pointer;
    
    display: none;
    align-items: center;
    justify-content: center;
    
    height: 34px;
    width: 34px;
    background: $color-blue-500;
    
    border-radius: 9px;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }

    i {
      font-size: 18px;
    }
  }
  
  .carousel {
    flex: 1;
    display: flex;
    align-items: center;

    input {
      display: none;
    }
  }

  .slider {
    position: relative;
    width: 100%;
    height: 248px;

    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 248px;
      @include h.white-gradient;
      transform: rotateZ(180deg);
    }
  }

  $num-of-slide: 3;
  .slide__items {
    position: absolute;
    display: flex;
    justify-content: space-between;

    width: 410px * $num-of-slide;
    transition: left 0.5s;
  }

  article {
    flex: 0 1 390px;
    width: percentage(math.div(1, $num-of-slide));
    padding: 38px 20px;

    background: rgba($color: $color-white-500, $alpha: 0.21);
    border: 1px solid $color-white-500;

    .article__head {
      display: flex;
      align-items: center;
      
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px;
      }
  
      h2 {
        font-size: 19px;
        line-height: 1.75;
        font-weight: $font-black;
        color: $color-blue-700;
      }

      p {
        font-size: 12px;
        font-weight: $font-medium;
      }
    }

    p.content {
      @include h.paragraph;
      margin-top: 20px;
    }
  }

  @for $i from 1 through $num-of-slide {
    #slide#{$i}:checked {
      & ~ .slider .slide__items {
        left: (1 - $i) * 420px;
      }
    }
  }
  @for $i from 1 through ($num-of-slide - 1) {
    #slide#{$i}:checked {
      & ~ .labels label:nth-child(#{$i + 1}) {
        display: flex;
        transform: rotateZ(180deg);
      }
    }
  }
  #slide#{$num-of-slide}:checked ~ .labels label:nth-child(1) {
    display: flex;
    transform: rotateZ(180deg);
    order: 2;
  }
  @for $i from 2 through $num-of-slide {
    #slide#{$i}:checked {
      & ~ .labels label:nth-child(#{$i - 1}) {
        display: flex;
      }
    }
  }
  #slide#{1}:checked ~ .labels label:nth-child(#{$num-of-slide}) {
    display: flex;
    order: -1;
  }

  .sponsors {
    max-width: 1239px;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid $color-gray-100;
  }

  .square {
    width: 120px;
    height: 80px;

    border: 1px solid $color-gray-100;
    background-color: $color-white-400;
  }

  $animation-speed: 15s;
  $slider-count: 20;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-125px * (#{$slider-count} / 2)))}
  }

  .loop__slider {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    overflow: hidden;
    
    &::before,
    &::after {
      @include h.white-gradient;
      content: "";
      height: 100%;
      position: absolute;
      width: 60px;
      z-index: 5;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
    &::before {
      left: 0;
      top: 0;
    }
    
    .loop__track {
      animation: scroll $animation-speed linear infinite;
      display: flex;
      justify-content: space-between;
      width: calc(125px * #{$slider-count});
    }
    
    // .loop__item {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 150px;
    // }
  }
}